{{> partials/head }}
<body>
    <header>
        <div class="wrapped-header-logo">
            <a href="/admin">
                <img src="/public/images/logo-icon.svg" alt="Logo Moview">
                <p>MO<span>VIEW</span>
                <small class="admin-logo">| ADMIN</small></p>
            </a>
        </div>

        <nav>
            <ul>
                <li><a href="/backoffice/conteudos" class="admin-menu active">Conteúdos</a></li>
                <li><a href="/backoffice/utilizadores" class="admin-menu">Utilizadores</a></li>
                <li><a href="/backoffice/reviews" class="admin-menu">Reviews</a></li>
                <li><a href="/backoffice/diretores-atores" class="admin-menu">Diretores & Atores</a></li>
                <li><a href="/logout" class="admin-menu">Sair</a></li>
            </ul>
        </nav>
    </header>
