<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }} | Moview</title>

    <link rel="shortcut icon" href="/public/images/logo-icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/public/styles/global.css">
    {{#pageStyle}}
    <link rel="stylesheet" href="/public/styles/{{ . }}.css">
    {{/pageStyle}}
    
    <script src="/public/js/global.js" defer></script>

    {{#pageScript}}
    <script src="/public/js/{{ . }}.js" defer></script>
    {{/pageScript}}
</head>