body {

    flex-direction: row;
    margin: 0 124px;

    > .div-logo {
        width: 45%;
    }

    > .div-form {
        width: 60%;
    }
}

body .div-logo, body .div-form {
    min-height: auto;
    margin: 28px 0;
}

.div-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: var(--color-light-200);
    padding: 40px 60px;
    border-radius: var(--border-radius);
    background-color: var(--color-dark-300);
    box-shadow: var(--shadow-sm);

    > form {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 440px;
        
        > .scroll-wrapper {
            
            padding: 0 10px 0 0;
            overflow-y: scroll;
            
            &::-webkit-scrollbar {
                width: 8px;
            }
            
            &::-webkit-scrollbar-track {
                background: var(--color-dark-400);
                border-radius: var(--border-radius);
            }
            
            &::-webkit-scrollbar-thumb {
                background: var(--color-primary);
                border-radius: var(--border-radius);
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: var(--color-light-200);
            }
        }
    }
}

.signup {
    width: 60%;
}

.div-form h1 {
    width: 100%;
    margin-bottom: 20px;

    font-family: var(--font-family-base);
    font-size: var(--font-size-title-1);
    font-weight: var(--font-weight-bold);

    letter-spacing: 8px;
    text-transform: uppercase;
}

.div-form .wrapped-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}

.div-form .wrapped-input label {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base-sm);
    letter-spacing: 2px;
}

.div-form .wrapped-input input,
.div-form select {
    color: var(--color-light-100);
    font-size: var(--font-size-base-sm);
    padding: 16px 24px;
    border-radius: var(--border-radius);
    background: none;
    box-shadow: none;
    border: 2px solid var(--color-light-200);
}

.div-form form select {
    outline: none;
    appearance: none;
    background-image: url('../../public/images/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 20px;
    cursor: pointer;

    letter-spacing: 1px;
    font-size: var(--font-size-placeholder);
    color: var(--color-grey-100);
    opacity: 1;
}

.div-form .wrapped-input input::placeholder {
    letter-spacing: 1px;
    font-size: var(--font-size-placeholder);
    color: var(--color-grey-100);
    opacity: 1;
}

.div-form .wrapped-input input:focus {
    outline: none;
    border-color: var(--color-primary);
}

.div-form button {
    margin-top: 40px;
    padding: 12px 24px;
    border-radius: var(--border-radius);

    font-family: var(--font-family-base);
    background: var(--color-linear-btn);
    font-size: var(--font-size-base-sm);
    font-weight: var(--font-weight-regular);
    letter-spacing: 2px;

    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        color: var(--color-dark-500);
        transform: scale(1.05);
        opacity: 0.9;
        transition: all var(--transition-fast);
    }
}

.div-form button:active {
    background-color: var(--color-primary);
    opacity: 1.0;
    transition: all var(--transition-base);
}

.div-form p {
    margin-top: 20px;
    font-size: var(--font-size-base-xsm);
    text-align: center;

    color: var(--color-grey-100);
    font-family: var(--font-family-base);
    letter-spacing: 1px;

    > a {
        color: var(--color-primary);
        text-decoration: none;
    }
}

.div-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-logo .wrapped-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.div-logo p {
    font-family: var(--font-family-base);
    font-size: var(--font-size-logo-lg);
    font-weight: var(--font-weight-regular);
    color: var(--color-light-100);
    letter-spacing: 8px;

    > span {
        color: var(--color-primary);
    }
}
