body {
    flex-direction: column;
}

main {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin: 80px 124px;
}

.page-title-and-back-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-top: 30px;

    > h1 {
        font-size: var(--font-size-title-2);
        font-weight: var(--font-weight-regular);
        color: var(--color-light-200);
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin-bottom: 3px;
    }

    > .back-btn {
        background: none;
        border: none;
        cursor: pointer;
        transition: var(--transition-fast);

        > img {
            width: 22px;
            height: 20px;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}

.movie-details {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    width: 100%;
    max-height: 600px;

    background-color: var(--color-dark-300);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-sm);

    overflow: hidden;
}

.movie-details .movie-poster {
    width: 30%;
    object-fit: fill;
    aspect-ratio: 2/3;
}

.movie-details .movie-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 40px;
    gap: 20px;
    width: 70%;

    font-family: var(--font-family-base);
    font-weight: var(--font-weight-regular);
    color: var(--color-light-200);
}

.movie-info .movie-details-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;

    > .movie-title-and-fav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        width: 70%;

        > h2 {
            font-size: var(--font-size-base-xlg);
            font-weight: var(--font-weight-thin);
            color: var(--color-primary);
            letter-spacing: 1.8px;
        }

        > .favorite-btn {
            background: none;
            border: none;
            cursor: pointer;

            > img {
                width: 22px;
                height: 22px;

                &:hover {
                    transform: scale(1.1);
                    transition: var(--transition-fast);
                }
            }
        }
    }

    > .details-rating-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 6px;
        width: 50%;

        > img {
            width: 22px;
            height: 22px;
        }
    }
}

.movie-info .movie-details-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;

    color: var(--color-grey-100);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base-sm);

    > .movie-genre {
        width: 55%;
    }

    > .info-two {
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2px;

        > span {
            width: 1fr;
        }
    }
}

.movie-info .movie-description {
    font-size: var(--font-size-base-sm);
    color: var(--color-light-200);
    line-height: 1.2;
    text-align: justify;
    letter-spacing: 1px;
    margin: 22px 0;
}

.movie-info .movie-details-three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    > .director-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        letter-spacing: 1px;

        
        > .label-director {
            color: var(--color-grey-100);
            font-size: var(--font-size-base-sm);
        }
    }

    > .label-cast {
        color: var(--color-grey-100);
        letter-spacing: 1px;
        font-size: var(--font-size-base-sm);
    }
}

.movie-reviews {
    display: flex;
    flex-direction: column;

    width: 100%;
    color: var(--color-light-200);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-regular);

    > h3 {
        font-size: var(--font-size-title-2);
        font-weight: var(--font-weight-regular);
        letter-spacing: 1.8px;
        margin-top: 20px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
}

.movie-reviews .movies-reviews-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: 100%;

    > .review-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 12px;

        background-color: var(--color-dark-300);
        border-radius: var(--border-radius);
        padding: 32px 40px;
    }
}

.review-card .movie-review-wrapper-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    > .user-name {
        font-size: var(--font-size-base-md);
        font-weight: var(--font-weight-thin);
        color: var(--color-light-200);
        letter-spacing: 1px;
    }

    > .thumbs-up-counter-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;

        > .review-btn {
            background: none;
            border: none;
            cursor: pointer;

            > img {
                width: 20px;
                height: 20px;
            }

            &:hover {
                transform: scale(1.1);
                transition: var(--transition-fast);
            }
        }

        > .thumbs-up-counter {
            font-size: var(--font-size-base-xsm);
            color: var(--color-grey-100);
            letter-spacing: 1px;
        }
    }
}

.review-card .movie-review-wrapper-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: var(--font-size-base-sm);
    color: var(--color-grey-100);
    letter-spacing: 1px;

    margin-bottom: 16px;

    > .review-date {
        font-size: var(--font-size-base-xsm);
    }
}

.review-card .movie-review-wrapper-three {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    font-size: var(--font-size-base-md);
    color: var(--color-primary);
    line-height: 1.2;
    letter-spacing: 1.8px;

    > img {
        width: 20px;
        height: 20px;
    }
}

.review-card .user-review-comment {
    color: var(--color-light-200);
    line-height: 1.4;
    text-align: justify;
    letter-spacing: .8px;
}