{{> partials/head_global }}
<body>
     <div class="div-logo">
        <div class="wrapped-logo">
            <img src="/public/images/logo-icon.svg" alt="Logo Moview">
            <p>MO<span>VIEW</span></p>
        </div>
    </div>

    <div class="div-form signup">
        <h1>Sign Up</h1>
        <form action="/signup" method="POST">
            {{#error}}
            <div class="error-box" style="background: rgba(255, 0, 0, 0.2); color: #ff6b6b; padding: 10px; border-radius: 5px; margin-bottom: 15px; text-align: center;">
                {{error}}
            </div>
            {{/error}}
            <div class="scroll-wrapper">
                <div class="wrapped-input su-input">
                    <label for="fullName">Nome</label>
                    <input type="text" id="name-register" name="fullName" placeholder="seu nome completo" required>
                </div>
                <div class="wrapped-input su-input">
                    <label for="email">Email</label>
                    <input type="email" id="email-register" name="email" placeholder="seuemail@email.com" required>
                </div>
                <div class="wrapped-input su-input">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="escolha um nome de usuário" required>
                </div>
                <select class="wrapped-input su-input" name="role" id="user-role-register">
                    <option value="" disabled selected>escolha o tipo de utilizador</option>
                    <option value="admin">Administrador</option>
                    <option value="user">Utilizador comum</option>
                </select>
                <div class="wrapped-input su-input">
                    <label for="password">Palavra-passe</label>
                    <input type="password" id="password-register" name="password" placeholder="defina sua senha" required>
                </div>
                <div class="wrapped-input su-input">
                    <label for="confirmPassword">Confirme sua palavra-passe</label>
                    <input type="password" id="password-confirm" name="confirmPassword" placeholder="confirme sua senha" required>
                </div>
            </div>

            <button type="submit">REGISTAR</button>
            <p>Já é registado? <a href="/login">LogIn</a></p>
        </form>
    </div>
</body>
{{> partials/footer_auth }}