{{> partials/head_global }}
<body>
    <header>
        <div class="wrapped-header-logo">
            <a href="/">
                <img src="/public/images/logo-icon.svg" alt="Logo Moview">
                <p>MO<span>VIEW</span></p>
            </a>
        </div>

        <nav>
            <ul>
                {{#user}}
                <li><a href="/" class="{{#menuHome}}active{{/menuHome}}">Catálogo</a></li>
                <li><a href="/listas" class="{{#menuLists}}active{{/menuLists}}">Listas</a></li>
                <li><a href="/favoritos" class="{{#menuFav}}active{{/menuFav}}">Favoritos</a></li>
                <li><a href="/profile" class="{{#menuProfile}}active{{/menuProfile}}">Perfil</a></li>
                <li><a href="/logout" class="nav-logout-btn">Sair</a></li>
                {{/user}}
                
                {{^user}}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Registar</a></li>
                {{/user}}
            </ul>
        </nav>
    </header>