{{> partials/head }}
<body>
    <header>
        <div class="wrapped-header-logo">
            <a href="/homepage">
                <img src="/public/images/logo-icon.svg" alt="Logo Moview">
                <p>MO<span>VIEW</span></p>
            </a>
        </div>

        <nav>
            <ul>
                <li><a href="/index" class="active">Início</a></li>
                <li><a href="/lists">Listas</a></li>
                <li><a href="/favorites">Favoritos</a></li>
                <li><a href="/profile">Perfil</a></li>
            </ul>
        </nav>
    </header>