{{> partials/head_global }}
<body>
    <header>
        <div class="wrapped-header-logo">
            <a href="/">
                <img src="/public/images/logo-icon.svg" alt="Logo Moview">
                <p>MO<span>VIEW</span></p>
            </a>
        </div>

        <nav>
            <ul>
                <li>
                    <a href="/" class="{{#menuHome}}active{{/menuHome}}">Início</a></li>
                <li>
                    <a href="/lists" class="{{#menuLists}}active{{/menuLists}}">Listas</a></li>
                <li>
                    <a href="/favorites" class="{{#menuFav}}active{{/menuFav}}">Favoritos</a></li>
                <li>
                    <a href="/profile" class="{{#menuProfile}}active{{/menuProfile}}">Perfil</a></li>
            </ul>
        </nav>
    </header>